<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.selenium.interviewquestion.Transformer"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Selenium Projects/SeleniumInterviewQuestions">
        <classes>
            <class name="com.selenium.interviewquestion.TestCase">
                <methods>
                    <include name="testcase1"/>
                    <include name="testCase2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>